body{font-size: 1.6rem;height: 100vh; display: flex; align-items: center; justify-content: center;}

.wrap{width: 380px;}
h1{text-align: center;}
h1 + p{text-align: center; margin-bottom: 20px;}

.input-box{display: flex; flex-direction: column; gap: 20px;}
.input-box input{ height: 60px; padding: 20px; border: 1px solid #ddd; width: 100%; border-radius: 10px; font-size: 1.6rem;}
.input-box button{height: 60px; border-radius: 10px; background-color: #3090d6; color: #fff; font-size: 1.6rem; cursor: pointer;}

.sns-list {margin: 40px 0;}
.sns-list ul{display: flex; justify-content: center; gap: 30px; text-align: center;}
.sns-list ul li p{margin-top: 10px;}

.find-join{padding-top: 30px; border-top: 1px solid #ddd;}
.find-join ul{display: flex; justify-content: center; gap: 20px;}
.find-join ul li::after{content: ""; display: inline-block; width: 1px; height: 15px; background-color: #ddd; margin-left: 20px;}
.find-join ul li:last-child:after{content: none;}

.add-btn {margin-top: 40px;}
.add-btn button{width: 100%; height: 60px; border-radius: 10px; border: 1px solid #ddd;  color: #fff; font-size: 1.6rem; color: #000; cursor: pointer; background-color: transparent;}